@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  @apply text-2xl;
}

.home-main, .auth-cnt{
  @apply bg-secondary;
  min-height: calc(100vh - 80px);
  padding: 2rem 1rem;
}

.auth-cnt{
  background-image: url('./assets/auth_page.png');
  background-size: cover;
}

.link-btn{
  @apply bg-accent text-secondary;
  padding: .2rem 1rem;
  border-radius: 1rem;
}

.sec-1 > *{
  margin: 1rem 0;
}

.register-form > div{
  position: relative;
}

.approve-btn{
  @apply bg-success;
}

.reject-btn{
  @apply bg-danger;
}

@media screen and (max-width: 1320px) {
  .auth-cnt{
    background-repeat:no-repeat;
    background-size: contain;
    background-position:top;
  }
}

@media screen and (max-width: 980px) {
  .auth-cnt{
    background-image: unset;
  }
}
